# Intellij IDEA
**/.idea/workspace.xml
**/.idea/tasks.xml
**.iws
**.idea/dictionaries
**.idea/vcs.xml
**.idea/jsLibraryMappings.xml

*.null/*
*.null/**

*.metals/*
*.metals/**

*.bloop/*
*.bloop/**

*.vscode/*
*.vscode/**

# Scala
*.class
*.log
