# Intellij IDEA
*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet

**/.idea/workspace.xml
**/.idea/tasks.xml
**.iws
**.idea/dictionaries
**.idea/vcs.xml
**.idea/jsLibraryMappings.xml

*.null/*
*.null/**

*.metals/*
*.metals/**

*.bloop/*
*.bloop/**

*.vscode/*
*.vscode/**

# Scala
*.class
*.log
